@import url('Silkscreen/stylesheet.css');
@import url('Edu_AU_VIC_WA_NT_Guides/stylesheet.css');

html {
	color: black; 

	font-size: 18px;

    font-family: 'helvetica', sans-serif;
	text-align: left;
    
	background: pink;
	.silkscreen-regular {
 	font-family: "Silkscreen", sans-serif;
  	font-weight: 400;
 	font-style: normal;
	}

	.silkscreen-bold {
  	font-family: "Silkscreen", sans-serif;
 	font-weight: 700;
	font-style: normal;
	}

	/* .Edu_AU_VIC_WA_Guides { 
  	font-family: "Playwrite US Modern", cursive;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
	}
	*/

}
/* applying new typeface */
body {
	font-family: "Edu AU VIC WA NT Guides", cursive;
}

#site-header {
	text-align: center;
	font-size: 50px;
}
#big-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#change-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#titles {
	text-align: center;
	font-size: 25px;
}


.audio-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
body {
    .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	text-align: center;
}
    font-family: "Silkscreen";
    line-height: 1.0;
    margin-top: 10px; 
}

h3 {
	font-family: "Edu AU VIC WA NT Guides";
	margin-left: 80px;
	margin-right: 80px;
	text-align: center;
	color:aliceblue;
}

