@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');

html {
	color: black; 

	font-size: 18px;

    font-family: 'helvetica', sans-serif;
	text-align: center;
    
	background: pink;
	.silkscreen-regular {
 	font-family: "Silkscreen", sans-serif;
  	font-weight: 400;
 	font-style: normal;
	}

	.silkscreen-bold {
  	font-family: "Silkscreen", sans-serif;
 	font-weight: 700;
	font-style: normal;
	}

	/* .Edu_AU_VIC_WA_Guides { 
  	font-family: "Playwrite US Modern", cursive;
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
	}
	*/

}
/* applying new typeface */
body {
	font-family: "Edu AU VIC WA NT Guides", cursive;
	background-image: url('images/notebook.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	cursor: url('images/pen.png'), auto;
	margin-top: -15px;
}

#index-header{
	text-align: center;
	font-size: 38px;
	color: #fc2184;
	padding:9px;
	padding-top: 90px;
}

#index-image{
	padding-top: 100px;
}

#site-header {
	text-align: center;
	font-size: 45px;
	color: #fc2184;
	padding:9px;
	padding-top: 90px;

}


#big-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#change-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
#titles {
	text-align: center;
	font-size: 25px;
	color: #fc2184;
}


.audio-container {
	display: flex;
	justify-content: center;
	align-items: center;
  }
body {
    .center {
    display: inline;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	text-align: center;
	z-index: 1;
}
    font-family: "Silkscreen";
    line-height: 1.0;
    margin-top: 10px; 
}



h3 {
	font-family: "Edu AU VIC WA NT Guides";
	margin-left: 300px;
	margin-right: 300px;
	margin-bottom: 80px;
	text-align: center;
	color:#0d7ea3;
}

/* page navigation */

.homepage {
	text-align: center;
	display: inline-block;
	justify-content: space-between;
}

.star {
	size: 10%;
	display: inline-block;
}

/* entry 4 background video */
#myVideo {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}


.dot{
	width:35px;
	height:35px;
	position:absolute;
	background: url(https://image.ibb.co/kyUHab/rose.png);
	background-size: 100% 100%;
  }

  @keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


/* entry 6 rain effects */
.rain {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
  }
  
  .rain.back-row {
	display: none;
	z-index: 1;
	bottom: 60px;
	opacity: 0.5;
  }
  
  
  .drop {
	position: absolute;
	bottom: 100%;
	width: 15px;
	height: 120px;
	pointer-events: none;
	animation: drop 0.5s linear infinite;
  }
  
  @keyframes drop {
	0% {
	  transform: translateY(0vh);
	}
	75% {
	  transform: translateY(90vh);
	}
	100% {
	  transform: translateY(90vh);
	}
  }
  
  .stem {
	width: 1px;
	height: 60%;
	margin-left: 7px;
	background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
	animation: stem 0.5s linear infinite;
  }
  
  @keyframes stem {
	0% {
	  opacity: 1;
	}
	65% {
	  opacity: 1;
	}
	75% {
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  
  @keyframes splat {
	0% {
	  opacity: 1;
	  transform: scale(0);
	}
	80% {
	  opacity: 1;
	  transform: scale(0);
	}
	90% {
	  opacity: 0.5;
	  transform: scale(1);
	}
	100% {
	  opacity: 0;
	  transform: scale(1.5);
	}
  }

  /* entry 10 blinking effect */
	.blinking-text {
    display: inline-block; 
    animation: blink 1s infinite;
}

  /* responsive design styling */

  @media only screen and (width: 480px) {
    body{
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
   
    .index-image,
	.eyes-beam,
	.eyeschange,
	.strawberry-kiss,
	.ribs-open,
	.magic-happens,
	.cloudy-day,
	.blooming-love,
	.mature-love,
	.fixing-love
	.new-attempt{
		max-width: 40%;
		max-width: 40%;
		margin: 0 2em 2em 0;

	}
	.titles{
		font-size: 20px;
	}
	
	.body-text{
		font-size: 12px;
	}

}



@media only screen and (width: 768px) and (max-width: 1280px) {
	body{
		margin-left: 1em;
        margin-right: 1em;
	}

	.index-image,
	.eyes-beam,
	.eyeschange,
	.strawberry-kiss,
	.ribs-open,
	.magic-happens,
	.cloudy-day,
	.blooming-love,
	.mature-love,
	.fixing-love
	.new-attempt{
		max-width: 80%;
		max-width: 80%;
		margin: 0 2em 2em 0;

	}
	.titles{
		font-size: 40px;
	}
	
	.body-text{
		font-size: 20px;
	}

}